[settings]
python.uv_venv_auto = true
task_output = "interleave"
jobs = 16

[env]
DJANGO_CONFIG = 'dev'

[tasks.startapp]
run = 'cookiecutter https://github.com/ClanEver/clanever-drf-app-template.git'

[tasks.dev-db]
run = [
    'mkdir -p ./scripts/test_dev/pgsql ./scripts/test_dev/redis',
    'D_UID=$(id -u) D_GID=$(id -g) docker compose -f scripts/docker-dev-db.yaml up',
]

[tasks.db-up-d]
run = [
    'mkdir -p ./scripts/test_dev/pgsql ./scripts/test_dev/redis',
    'D_UID=$(id -u) D_GID=$(id -g) docker compose -f scripts/docker-dev-db.yaml up --wait --no-recreate',
]

[tasks.db-stop]
run = 'docker compose -f scripts/docker-dev-db.yaml stop'

[tasks.db-down]
run = 'docker compose -f scripts/docker-dev-db.yaml down'

[tasks.db-clean]
run = 'docker compose -f scripts/docker-dev-db.yaml down --timeout 0 && rm -rf scripts/test_dev'

[tasks.dev]
depends = ["db-up-d"]
run = 'python manage.py runserver 38888'

[tasks.makem]
run = 'python manage.py makemigrations'

[tasks.migrate]
run = 'python manage.py migrate'

[tasks.test-data]
env.PYTHONPATH = '.'
run = 'python scripts/create_test_data.py'

[tasks.mnm]
run = [
    'mise run db-up-d',
    'mise run makem',
    'mise run migrate',
    'mise run test-data',
]

[tasks.cu]
depends = ["db-up-d"]
run = 'python manage.py createsuperuser'

[tasks.c-beat]
depends = ["db-up-d"]
run = 'celery -A {{ cookiecutter.project_slug }} beat -l INFO'

[tasks.c-worker]
depends = ["db-up-d"]
run = 'celery -A {{ cookiecutter.project_slug }} worker -l INFO -P solo'

[tasks.c-flower]
depends = ["db-up-d"]
run = 'celery -A {{ cookiecutter.project_slug }} flower --address=127.0.0.1 --url_prefix=admin/flower'

[tasks.c]
depends = ["db-up-d"]
run = 'mise tasks run c-beat ::: c-worker ::: c-flower'

[tasks.all]
depends = ["db-up-d"]
run = 'mise tasks run dev ::: c'

[tasks.test]
depends = ["db-up-d"]
run = 'pytest -n auto'
